<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
</head>
<body 
style="background-color: black ;
 color: white;
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 50px;
   font-family: monospace,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;" >


    <img style="width: 100px;height: 100px; border-radius: 500px;" src="<%= data.logo %>" alt="">
    <h1 style="font-size: xx-large; color: <%= data.title.color %>"> <%= data.title.text ? data.title.text : "Title"  %> </h1>
    <br>
    <div style="color: <%= data.opening.color %> ">
        <%= data.opening.text ? data.opening.text : " Lorem ipsum dolor sit amet consectetur adipisicing elit. Non debitis natus aperiam commodi, officia odit autem deleniti quo! Distinctio, dolore. In ducimus eveniet quo autem voluptas porro? Sit, tempora doloribus.Qui facere, consectetur non sint, deleniti voluptatem dolore, amet eveniet odit dolorum eligendi velit est quod ipsa eum impedit autem quos alias. Blanditiis veniam tempora dolores doloremque laborum rem consectetur.Ut recusandae porro voluptatibus sapiente doloribus, exercitationem quasi soluta itaque nobis repudiandae sint, pariatur veniam architecto ducimus a amet repellendus sunt eius explicabo delectus enim. Esse, eos? Amet, laboriosam commodi." %>
    </div>
    
    <br><br>

    <div style="color: <%= data.middle.color %> "> <%= data.middle.text ? data.middle.text : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto praesentium quas ipsam quam ipsum, excepturi dignissimos culpa. Qui tempora blanditiis ducimus maxime, atque fugiat veritatis tenetur dolore, ea et explicabo.Inventore porro voluptas, reiciendis sequi vel accusamus impedit ea tenetur, quae vero aspernatur odio, dicta eum? Provident rem, eligendi numquam, commodi eum et, deleniti enim delectus velit ipsum quisquam officiis?Illo non facilis labore accusantium ea aliquam quaerat veniam. Asperiores et, recusandae, id ut maxime porro nihil minima ducimus neque, accusamus sint molestiae numquam nemo sunt animi? Consectetur, voluptatibus hic.Dignissimos error hic odit harum, expedita, sint fugiat vitae repellendus fuga repudiandae nam consectetur. Eius, error, debitis adipisci nihil cum repellat dolorum, accusantium fugit deleniti explicabo tempora doloremque distinctio provident?Harum dolores nobis fugit consequatur temporibus sit, dolore ducimus dicta fugiat atque magnam eius, unde repudiandae ut at corrupti tempore! Ex ipsa modi, sunt possimus laborum eum incidunt asperiores necessitatibus." %> </div>

    <br><br>

    <div style="color: <%= data.footer.color %> "> <%= data.footer.text ? data.footer.text : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur necessitatibus explicabo odio provident laboriosam, odit quaerat sint perspiciatis recusandae ratione, deleniti aliquam culpa animi! Excepturi officia ducimus voluptatem distinctio."  %></div>
</div>    
</body>
</html>

